$main-font: 'Roboto Condensed', sans-serif;
$main-font-color: #5e6774;
$product-item-border: solid 1px #e0e0e0;

h2 {
    color: $main-font-color;
    font-family: $main-font;
    font-size: 26px;
}

.page-wrapper {
    float: left;
    padding: 1em 0;
    width: 100%;
}
	
.products-container {
    margin: 0 auto;
    max-width: 1350px;
    padding-left: 10px;
    padding-right: 10px;
}

.product-item {
    max-height: 410px;
    border: $product-item-border;
    box-sizing: border-box;
    padding: 20px !important;
    transition: all .4s ease;
	background:#fff;
}

.tns-slide-active:nth-child(n+3):not(:hover) {
    border-left: solid 1px transparent;
}

.product-item:hover {
    transition: all .2s ease;
    max-height: 470px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+100 */
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f4f4 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f4f4f4 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	cursor:pointer;
}

.recommended-carousel-product {
	min-height: 404px !important;
	border-top: $product-item-border;
    border-bottom: $product-item-border;
    border-right: $product-item-border;
}

.product-wrapper.visited {
    width: 25%;
    position: relative;
    float: left;
}

.recommended-carousel-wrapper {
    width: 75%;
    position: relative;
    float: right;
}


.tns-nav button {
    width: 13px;
    background: #adadad;
    height: 13px;
    border-radius: 50%;
    border: 0px;
    padding: 0px;
    margin: 0 4px;
}

.tns-nav button.tns-nav-active {
    background: #353f4f;
}

.tns-nav-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 410px;
    text-align: center;
}

.tns-nav {
    position: absolute;
    bottom: -37px;
    width: 100%;
}

.product-item img {
    width: 180px;
    position: relative;
    left: -90px;
    margin-left: 50%;
}

.product-name {
    font-family: 'Roboto', sans-serif;
    color: #303132;
    text-decoration: none;
    font-size: 18px;
	    min-height: 66px;
}

.product-price {
    font-family: 'Roboto', sans-serif;
    color: #69717d;
    font-size: 17px;
}

.old-product-price {
    text-decoration: line-through;
    font-size: 13px;
    color: #9E9E9E;
}

.current-product-price {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #353f4f;
    font-size: 26px;
}

.product-pay-conditions {
    font-family: 'Roboto', sans-serif;
    color: #69717d;
    font-size: 16px;
}

.product-pay-conditions span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #353f4f;
    font-size: 18px;
}

.product-link {
    font-family: 'Roboto', sans-serif;
	font-size: 18px;
    text-decoration: none;
    text-align: center;
    color: #353f4f;
    font-weight: 700;
    border: 1px solid #BDBDBD;
    display: block;
	opacity:0;
    padding: 15px;
	position:relative;
	background: #FFF;
	transition: all .2s ease;
	cursor:pointer;
}

.product-item:hover .product-link{
	opacity:1;
	transition: all .9s ease;
}

.product-link i {
    line-height: 0 !important;
    vertical-align: middle;
    margin-left: 10px;
		transition: all .4s ease;

}

.product-link:before {
    content: "";
    width: 0px;
    display: block;
    height: 100%;
    position: absolute;
    background: #ff6600;
    top: 0;
    left: 0;
    bottom: 0;
	transition: all .4s ease;
}

.product-link:hover:before {
    content: "";
    width: 9px;
    display: block;
    height: 100%;
    position: absolute;
    background: #ff6600;
    top: 0;
    left: 0;
    bottom: 0;
	transition: all .4s ease;
}
.product-link:hover i {
    color: #f60;
		transition: all .4s ease;

}

.product-anchor{
text-decoration:none;
}

/*Responsive*/

@media screen and (max-width: 980px) {
	.product-item img {
    width: 140px;
	left: -70px;

}

.product-wrapper.visited {
    width: 50%;
}

.recommended-carousel-wrapper {
    width: 100%;
}

.tns-slide-active {
    border-left: $product-item-border !important;
}
}

@media screen and (max-width: 760px) {
.product-wrapper.visited {
    width: 100%;
}
}
